<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>ES6</title>
</head>



<body>
<!-- 	
	{{!--1 Variables y constantes --}}
	<script src="01-var-const/variables.js"></script>
	<script src="01-var-const/constantes.js"></script>
	
	{{!--2 Strings --}}
	<script src="02-string/nuevosMetodos.js"></script>
	<script src="02-string/templateLiteral.js"></script>
	<script src="02-string/raw.js"></script>
	
	{{!--3 la parte de funciones flecha --}}
	<script src="03-func_flecha/01-func_flecha.js"></script>
	<script src="03-func_flecha/02-func_flecha_anonimas.js"></script>
	<script src="03-func_flecha/03-comportamiento-this.js"></script>
	<script src="03-func_flecha/04-flecha-arrays.js"></script>
	<script src="03-func_flecha/05-complementarios.js"></script>

	{{!--4 la parte de extensiones literales --}}
	<script src="04-extensiones-objetos/01.ext-obj-literaljs"></script>
	<script src="04-extensiones-objetos/02.asignacion_objeto.js"></script>
	<script src="04-extensiones-objetos/03.metodo-Object.is().js"></script>
	<script src="04-extensiones-objetos/04.metodo-Object.assign().js"></script>
	<script src="04-extensiones-objetos/05.orden-enum-prop.js"></script>
	<script src="05-prototipos_y_destructuracion/01-cambiar-protitipo.js"></script>
	
	{{!-- 5-Prototipos --!!}}
	
	<script src="05-prototipos_y_destructuracion/02-referencia-SUPER.js"></script>
	<script src="05-prototipos_y_destructuracion/03-destructuracion_objetos.js"></script>
	<script src="05-prototipos_y_destructuracion/04-destructuracion_objetos_anidados.js"></script>
	<script src="05-prototipos_y_destructuracion/05-destructuracion_arrays_anidados.js"></script>
	<script src="05-prototipos_y_destructuracion/06-destructuracion_arrays_anidados.js"></script>
	<script src="05-prototipos_y_destructuracion/07-destructuracion-valor-por-defecto.js"></script>
	<script src="05-prototipos_y_destructuracion/08-destructuracion-de-parametros.js"></script>
	
	{{!--6 Simbolos --}}
	
	<script src="06-simbolos/01-intro.js"></script>
	<script src="06-simbolos/2-Symbol.for-y Symbol.keyFor.js"></script>
	<script src="06-simbolos/3-coercion-de-simbolos.js"></script>
	<script src="06-simbolos/4-recuperando-propiedades-del-simbolos.js"></script>
	
	{{!-- 7 Sets --}}
	<script src="07-sets/01-intro.js"></script>
	<script src="07-sets/02-foreach.js"></script>
	<script src="07-sets/03-set-en-array.js"></script>
	<script src="07-sets/04-weaksets.js"></script>

	{{!-- 8 Mapas --}}
	<script src="08-maps/01-maps.js"></script>
	<script src="08-maps/02-maps-inicializacion.js"></script>
	<script src="08-maps/03-ciclos-for.js"></script>
	
	{{!-- 9 Clases --}}
	<script src="09-clases/01-clases-simuladas-y-reales.js"></script>
	<script src="09-clases/01-declarando-clases.js"></script>
	<script src="09-clases/03-metodos-estaticos-y-conmutados.js"></script>
	<script src="09-clases/04-herencia.js"></script>
	<script src="09-clases/05-get-set.js"></script>
	
	{{!-- 10 Promesas & callbacks --}}
	<script src="10-promesas/01-tareas-asincronas.js"></script>
	<script src="10-promesas/02-que-es-una-promesa.js"></script>
	<script src="10-promesas/03-callback.js"></script>
	<script src="10-promesas/03-callback2.js"></script>
	<script src="10-promesas/04-cpromesas.js"></script>
	<script src="10-promesas/05-async-await.js"></script>
-->

<script src="app.js"></script>

</body>
</html>